#slider {
    width: 384px;
    height: 128px;
    border: 5px solid black;
    margin: 50px auto;
    overflow: hidden;
}

#carousel {
    width: 128px;
    height: 128px;
    border: 5px solid black;
    margin: 50px auto;
}

#line {
    width: 896px;
    position: relative;
    transition: all ease 1s;
    left:0;
}

button.prev {
    position: absolute;
    top:209px;
}

button.next {
    position: absolute;
    right: 510px;
    top:209px;
}

#line img, #line button {
    float: left;
}
#line img.current {
    background: lightgreen;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
