*{
    margin: 10px;
}
.window{
    border:1px solid black;
    width:400px;
}
.header{
    color: green;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    border-bottom:1px solid black;
}
.game-area {
    text-align: center;
    border-bottom:1px solid black;
}
table{
    width: 60%;

    margin-left: 100px;
}
.time{
    float: right;
}
.result{
    float: left;
}
.footer{
    margin:0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}